<div class="container">
<div class="row">
<div class="col-lg-3">
<div class="user-info">
    <h2>User info</h2>
    <!-- :fillでは、投稿された画像の縦横の大きさを指定しています。単位はpxです。(fallbackだと適用されず指定している画像の大きさで表示されます）refileの仕様により、_idを外した状態でカラムを指定しています。 -->
    <% if @user.user_image.present? %>
       <%= attachment_image_tag @user, :user_image, :fill, 200, 200 %>
    <% else %>
       <%= image_tag 'no_image.jpg', size: '200x200' %>
    <% end %>
    <div class="user-name-box">
      <div class="user-name-title">
        <p class="name">name</p>
      </div>
      <div class="user-name-current">
        <p class="name"><%= @user.name %></p>
      </div>
    </div>
    <div class="user-introduction-box">
      <div class="user-introduction-title">
        <p class="introduction">introduction</p>
      </div>
      <div class="user-introduction-current">
        <p class="introduction"><%= @user.introduction %></p>
      </div>
    </div>
    <div class="user-introduction"></div>
    <div class="user-info-edit">
<%= link_to(edit_user_path(@user.id)) do %><button type="button" class="btn btn-default btn-sm wrench"><span class="glyphicon glyphicon-wrench"></span></button><% end %>
     </div>
</div>
<h2>New book</h2>
<%= form_for (@book) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :opinion, "Opinion (200 Character limit)"  %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Create book", class:"create_book_btn" %>
  </p>
<% end %>
</div>
<div class="col-lg-9">
<h2>Books</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title (Please click here!!)</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
       <%= attachment_image_tag book.user, :user_image, :fill, 50, 50, fallback: 'no_image.jpg', :size => '50x50' %>
    </td>
        <td><%= link_to "#{book.title}", book_path(book.id), class: "show_#{book.id}" %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

