<div class="container">
<div class="row">
<div class="col-lg-3">
<div class="user-info">
	  <h2>User info</h2>
    <!-- :fillでは、投稿された画像の縦横の大きさを指定しています。単位はpxです。(fallbackだと適用されず指定している画像の大きさで表示されます）refileの仕様により、_idを外した状態でカラムを指定しています。 -->
    <%= attachment_image_tag @user, :user_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <div class="user-name-box">
      <div class="user-name-title">
        <p class="name">name</p>
      </div>
      <div class="user-name-current">
        <p class="name"><%= @user.name %></p>
      </div>
    </div>
    <div class="user-introduction-box">
      <div class="user-introduction-title">
        <p class="introduction">introduction</p>
      </div>
      <div class="user-introduction-current">
        <!-- ↓中央寄せ左頭合わせになっているか確認した方が良い -->
        <p calss="introduction"><%= @user.introduction %></p>
      </div>
    </div>
    <div class="user-introduction"></div>
    <div class="user-info-edit">
<%= link_to(edit_user_path(@user.id)) do %><button type="button" class="btn btn-default btn-sm wrench"><span class="glyphicon glyphicon-wrench"></span></button><% end %>
     </div>
</div>
<h2>New book</h2>
<%= form_for (@book) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :opinion, "Opinion (200 Character limit)" %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Create book", class:"create_book_btn" %>
  </p>
<% end %>
</div>
<div class="col-lg-9">
<h2>Book detail</h2>

<% if @user == current_user %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= attachment_image_tag @user, :user_image, :fill, 10, 10, format: 'jpeg', fallback: "no-image-icon.jpg" %>
            <%= link_to "#{@user.name}", user_path(@user) %></td>
        <td><%= @book_id.title %></td>
        <td><%= @book_id.body %></td>
        <td><%= link_to(edit_book_path(@book_id)) do %><button type="button" class="btn-success book-show">Edit</button><% end %></td>
        <td><%= link_to(destroy_book_path(@book_id), method: :delete, "data-confirm" => "本当に消しますか？") do %><button type="button" class="btn-danger book-show">Destroy</button><% end %></td>
       </tr>
  </tbody>
</table>

<% else %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= attachment_image_tag @user, :user_image, :fill, 10, 10, format: 'jpeg', fallback: "no-image-icon.jpg" %>
            <%= link_to "#{@user.name}", user_path(@user.id) %></td>
        <td><%= @book_id.title %></td>
        <td><%= @book_id.body %></td>
      </tr>
  </tbody>
</table>

<% end %>

</div>
</div>
</div>